
/************************************************************************ 
 * CSCI E-15 Project 2
 * Ann Adelsberger 
 * adelsbergerann@gmail.com
 ************************************************************************/

html,
body {
    height: 100%;

}

/* Wrapper for body to expand to footer */
#wrapper {
        min-height:100%;
        height:auto !important;
        height:100%;
        margin:0 auto -120px auto; 
}

#fillspace {
    height:120px;
}

#footer {
        height: 120px;
        background-color: #0d485c;
}


#footer .row p {
        color: #fff;
        padding-top: 2%;
}

#footer .row li{
        color: #fff;    
}

#footer .row a{
        color: #e4c325;
}

#menu{
        background-color: #0d485c;
}

.navbar-collapse .navbar-nav li a{
        color: #fff;
}

.navbar-collapse .navbar-nav li a:hover{
        color: #0d485c;
}

body {
        background-color: #FFF;
        border-color: #4f4d4f;
        margin: 0 20px 50px;
}
.row .navbar-header .navbar-logo{


}

.well{
        background-color: #d2d2dc
        border-color: #4f4d4f;
        margin: 20px 20px;
        
}
.post{
        background-color: #fff
        border-color: #4f4d4f;
        margin: 10px 10px;
}
/*****************
Buttons
******************/


.btn-custom {
  background-color: hsl(193, 29%, 59%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78a7b4", endColorstr="#78a7b4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#78a7b4), to(#78a7b4));
  background-image: -moz-linear-gradient(top, #78a7b4, #78a7b4);
  background-image: -ms-linear-gradient(top, #78a7b4, #78a7b4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #78a7b4), color-stop(100%, #78a7b4));
  background-image: -webkit-linear-gradient(top, #78a7b4, #78a7b4);
  background-image: -o-linear-gradient(top, #78a7b4, #78a7b4);
  background-image: linear-gradient(#78a7b4, #78a7b4);
  border-color: #78a7b4 #78a7b4 hsl(193, 29%, 59%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  -webkit-font-smoothing: antialiased;
}
